<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072304386771-ijcofvgopfvsahfovuleh25lu5evb3o0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072304386771-ijcofvgopfvsahfovuleh25lu5evb3o0</string>
	<key>API_KEY</key>
	<string>AIzaSyBlX_qlPmTWOb5ceQDq22vBJ-ARNjV9DRk</string>
	<key>GCM_SENDER_ID</key>
	<string>1072304386771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.improvebiz.dailyreport</string>
	<key>PROJECT_ID</key>
	<string>labormanagement-20260202</string>
	<key>STORAGE_BUCKET</key>
	<string>labormanagement-20260202.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072304386771:ios:7d996f84a9303aba111a26</string>
</dict>
</plist>